{% INCLUDE 'ucp_header.html' %}
{% INCLUDECSS 'dsgvo_ucp.css' %}
{% if U_DSGVO_PROFILE_DOWNLOAD or U_DSGVO_POSTS_DOWNLOAD %}
{% if U_DSGVO_PROFILE_DOWNLOAD %}
<h2>{{ lang('UCP_DSGVO_PROFILE') }}</h2>
<div class="panel">
<p>{{ lang('PROFILE_DOWNLOAD_INFO') }}</p>
	<fieldset>
		<dl class="dgsvo-dl">
			<dt class="dgsvo-dt"><label for="dgsvo_profile_download">{{ lang('DSGVO_PROFILE_DOWNLOAD')  ~ lang('COLON') }}</label><br /><span id="normal-view" class="dgsvo-span">{{ lang('DSGVO_PROFILE_DOWNLOAD_EXPLAIN') }}</span><span id="normal-res" class="dgsvo-span">{{ lang('DSGVO_PROFILE_DOWNLOAD_EXPLAIN') }}</span></dt>
			<dd class="dgsvo-dd"><a href="{{ U_DSGVO_PROFILE_DOWNLOAD }}" class="button"><span>{{ lang('DSGVO_DOWNLOAD_BUTTON') }}</span> <i class="icon fa fa-download fa-fw"></i> </a></dd>
		</dl>
	</fieldset>
</div>
{% endif %}
{% if U_DSGVO_POSTS_DOWNLOAD %}
<h2>{{ lang('UCP_DSGVO_DATA') }}</h2>
<div class="panel">
<p>{{ lang('PROFILE_DOWNLOAD_INFO') }}</p>
	<fieldset>
		<dl class="dgsvo-dl">
			{% if FORMAT_OF_POST %}
			<dt class="dgsvo-dt"><label for="u_dgsvo_posts_download">{{ lang('DSGVO_POST_ALL')  ~ lang('COLON') }}</label><br /><span id="normal-view" class="dgsvo-span">{{ lang('DSGVO_POST_ALL_EXPLAIN') }}</span><span id="normal-res" class="dgsvo-span">{{ lang('DSGVO_POST_ALL_EXPLAIN') }}</span></dt>
			{% else %}
			<dt class="dgsvo-dt"><label for="u_dgsvo_posts_download">{{ lang('DSGVO_POST_META')  ~ lang('COLON') }}</label><br /><span id="normal-view" class="dgsvo-span">{{ lang('DSGVO_POST_META_EXPLAIN') }}</span><span id="normal-res" class="dgsvo-span">{{ lang('DSGVO_POST_META_EXPLAIN') }}</span></dt>
			{% endif %}
			<dd class="dgsvo-dd"><a href="{{ U_DSGVO_POSTS_DOWNLOAD }}" class="button"><span>{{ lang('DSGVO_DOWNLOAD_BUTTON') }}</span> <i class="icon fa fa-download fa-fw"></i> </a></dd>
		</dl>
	</fieldset>
</div>
{% endif %} 
{% else %}
{% if DSGVO_PROFILE_DOWNLOAD || DSGVO_POSTS_DOWNLOAD %}
<h2>{{ lang('MY_DATA_DOWNLOAD') }}</h2>
<div class="panel">
<p>{{ lang('MY_DATA_DOWNLOAD_EXPLAIN') }}</p>
	<fieldset class="dgsvo-info">
		<div class="dgsvo-info-headline">{{ lang('DSGVO_INFO_BOX') }}</div>
		{{ lang('DSGVO_INFO_BOX_EXPLAIN') }}
	</fieldset>

{% if DSGVO_PROFILE_DOWNLOAD %}
<h2>{{ lang('DSGVO_PROF_INFO') }}</h2>
<table class="table-dgsvo-ucp">
	<colgroup>
		<col class="ucp-dgsvo-col1"><col class="ucp-dgsvo-col2">
	</colgroup>
	<thead>
		<tr>
			<th class="ucp-dgsvo-th">{{ lang('UCP_VALUE') }}</th>
			<th class="ucp-dgsvo-th">{{ lang('UCP_INFO') }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_ID') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_ID_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_IP') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_IP_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_REGDATE') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_REGDATE_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_EMAIL') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_EMAIL_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_LASTVISIT') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_LASTVISIT_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_POST') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_POST_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_LANG') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_LANG_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_TIMEZONE') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_TIMEZONE_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_DATEFORMAT') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_DATEFORMAT_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_AVATAR') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_AVATAR_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_SIG') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_SIG_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_JABBER') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_USER_JABBER_EXPLAIN') }}</td>
		</tr>
	</tbody>
</table>
{% endif %}
{% if DSGVO_POSTS_DOWNLOAD %}
<h2>{{ lang('DSGVO_DATA_INFO') }}</h2>
<table class="table-dgsvo-ucp">
	<colgroup>
		<col class="ucp-dgsvo-col1"><col class="ucp-dgsvo-col2">
	</colgroup>
	<thead>
		<tr>
			<th class="ucp-dgsvo-th">{{ lang('UCP_VALUE') }}</th>
			<th class="ucp-dgsvo-th">{{ lang('UCP_INFO') }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_ID') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_ID_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_TOPIC_ID') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_TOPIC_ID_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_FORUM_ID') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_FORUM_ID_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POSTER_IP') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POSTER_IP_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_TIME') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_TIME_EXPLAIN') }}</td>
		</tr>
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_SUBJECT') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_SUBJECT_EXPLAIN') }}</td>
		</tr>
		{% if FORMAT_OF_POST %}
		<tr>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_TEXT') }}</td>
			<td class="ucp-dgsvo-td">{{ lang('UCP_POST_TEXT_EXPLAIN') }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
{% endif %}
</div>
{% else %}
<h2>{{ lang('MY_DATA_DOWNLOAD') }}</h2>
<div class="panel">
	<p>{{ lang('MY_DATA_DOWNLOAD_EXPLAIN') }}</p>
</div>
{% endif %}
{% endif %}
{% INCLUDE 'ucp_footer.html' %}



