<h2>{{ lang('UCP_DSGVO_PROFILE') }}</h2>
<div class="panel">
<p>{{ lang('PROFILE_DOWNLOAD_INFO') }}</p>
	<fieldset>
		<dl class="dgsvo-dl">
			<dt class="dgsvo-dt"><label for="dgsvo_profile_download">{{ lang('DSGVO_PROFILE_DOWNLOAD')  ~ lang('COLON') }}</label><br /><span id="normal-view" class="dgsvo-span">{{ lang('DSGVO_PROFILE_DOWNLOAD_EXPLAIN') }}</span><span id="normal-res" class="dgsvo-span">{{ lang('DSGVO_PROFILE_DOWNLOAD_EXPLAIN') }}</span></dt>
			<dd class="dgsvo-dd"><a href="{{ U_DSGVO_PROFILE_DOWNLOAD }}" class="button"><span>{{ lang('DSGVO_DOWNLOAD_BUTTON') }}</span> <i class="icon fa fa-download fa-fw"></i> </a></dd>
		</dl>
	</fieldset>
</div>